#control-panel.panel.panel-default(ng-click="doNotHandleKeyPresses()")
  .panel-heading
    span.title Web Fract 3D Control Panel
  .panel-body
    form.form-horizontal(role="form")
      .form-group
        label.col-sm-8.control-label View Size
        .col-sm-4
          input.form-control(type="number", min="1",
            ng-model="view_state.size")
      .form-group
        label.col-sm-3.control-label View Position
        .col-sm-9
          input.triple.form-control(type="number",
                                    ng-model="view_state.position.x")
          input.triple.form-control(type="number",
                                    ng-model="view_state.position.y")
          input.triple.form-control(type="number",
                                    ng-model="view_state.position.z")
      .form-group
        label.col-sm-3.control-label View Rotation
        .col-sm-9
          input.triple.form-control(type="number", min="-180", max="180",
                                    ng-model="view_state.rotation.x")
          input.triple.form-control(type="number", min="-180", max="180",
                                    ng-model="view_state.rotation.y")
          input.triple.form-control(type="number", min="-180", max="180",
                                    ng-model="view_state.rotation.z")

      .form-group
        label.col-sm-3.control-label Fractal
        .col-sm-9
          select.form-control(ng-model="fractal_state.fractal",
                              ng-options="f for f in fractal_state.fractals")

      .form-group
        label.col-sm-3.control-label Fractal Position
        .col-sm-9
          input.form-control(type="number", min="-4", max="4",
                             ng-model="fractal_state.r")
          input.form-control(type="number", min="-4", max="4",
                             ng-model="fractal_state.i")
      .form-group
        label.col-sm-8.control-label Fractal Size
        .col-sm-4
          input.form-control(type="number", min="0", max="180",
                             ng-model="fractal_state.size")
      .form-group
        label.col-sm-8.control-label Fractal Divisions
        .col-sm-4
          input.form-control(type="number", min="8", max="1000",
            ng-model="fractal_state.divisions")
      .form-group
        label.col-sm-8.control-label Fractal Iterations
        .col-sm-4
          input.form-control(type="number", min="8", max="1000",
                             ng-model="fractal_state.max_iterations")

    table.table
      thead
        tr
          th Hot Keys
          th Action
      tbody
        tr
          td [ ]
          td Change resoution
        tr
          td Arrows
          td Move
        tr
          td PgUp/Down
          td Zoom in/out
        tr
          td i/j/k/l/u/o
          td Rotate
